header h1 {
    background: url("bg.jpg") left / auto 100% no-repeat, url("bg.jpg") right / auto 100% no-repeat;
}

.no_photo {
     width: 96px;
     height: 96px;
}

.root {
    font-size: larger;
}

img.additional-image {
    width: 180px;
}

img.main-image {
    width: 300px;
}